# Pedro Rescue - Raspberry / robot core apt dependencies
#
# Replace <distro> with your ROS 2 distro, for example humble or jazzy.

python3-pip
python3-opencv
python3-numpy
python3-gpiozero
python3-lgpio
python3-colcon-common-extensions
v4l-utils
usbutils
libopenni2-0
libopenni2-dev
ros-<distro>-ament-cmake
ros-<distro>-ament-cmake-python
ros-<distro>-rosidl-default-generators
ros-<distro>-rosidl-default-runtime
ros-<distro>-rclpy
ros-<distro>-sensor-msgs
ros-<distro>-geometry-msgs
ros-<distro>-std-msgs
ros-<distro>-std-srvs
ros-<distro>-nav-msgs
ros-<distro>-visualization-msgs
ros-<distro>-launch
ros-<distro>-launch-ros
ros-<distro>-robot-state-publisher
ros-<distro>-joint-state-publisher
ros-<distro>-xacro
ros-<distro>-tf2-ros
ros-<distro>-tf2-tools
ros-<distro>-tf2-eigen
ros-<distro>-tf2-sensor-msgs
ros-<distro>-slam-toolbox
ros-<distro>-nav2-map-server
ros-<distro>-nav2-lifecycle-manager
ros-<distro>-camera-info-manager
ros-<distro>-diagnostic-updater
ros-<distro>-image-transport
ros-<distro>-image-transport-plugins
ros-<distro>-compressed-image-transport
ros-<distro>-openni2-camera
ros-<distro>-depth-image-proc
ros-<distro>-image-proc
ros-<distro>-cv-bridge
ros-<distro>-image-geometry
ros-<distro>-message-filters
ros-<distro>-rclcpp-components
ros-<distro>-class-loader
ros-<distro>-rmw-cyclonedds-cpp

# External source/ROS package required by src/rescue_bringup/launch/lidar_ld19.launch.py:
# ldlidar_component
